.main-class{
    position: relative;
    background-image: url(../../../assets/images/sopra.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.card{
    width: 380px;
         position: absolute;
        top: 25%;
    }